ion-content::part(background) {
  background: #d31373;
}
#container {
  text-align: center;
  padding: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-20%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
