<ion-content>
  <div id="container" class="ion-padding">

  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input id="fullName" formControlName="fullName" type="text" class="form-control" />

      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" />

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control" />

      </div>

      <div class="form-group">
        <label for="passwordConfirmation">Confirm Password</label>
        <input id="passwordConfirmation" formControlName="passwordConfirmation" type="password" class="form-control" />

      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" />

      </div>

      <br>
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
      <a routerLink="/login" >Ir al login</a>
    </form>
  </div>


