<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/parking-lots" >
        <ion-icon name="car-sport-sharp"></ion-icon>
        Estacionamientos
      </ion-tab-button>
      <ion-tab-button routerLink="/profile">
        <ion-icon name="person-sharp"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
