<div class="col">
  <div class="card h-100">
    <div class="card-header text-center"><strong>Estacionamientos</strong></div>
    <div class="card-body text-center">
      @if (totalDisponibles) {
        <h1 class="card-title">{{totalDisponibles}}</h1>
    }
    </div>
  </div>
</div>
