<ion-header>
  <app-header />
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parking-lots" routerLink="/tabs/parking-lots">
      <ion-icon name="car-sport-sharp"></ion-icon>
      Estacionamientos
    </ion-tab-button>
    <ion-tab-button tab="profile" routerLink="/tabs/profile">
      <ion-icon name="person-sharp"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
