<div class="col">
  <div class="card h-100">
    <div class="card-header text-center"><strong>Clima</strong></div>
    <div class="card-body text-center">
      @if (weatherData) {
      <p>{{ weatherData.main.temp }} °C {{ weatherData.name }}</p>
      <img class="icon" [src]="urlIcon" alt="" style="margin-left: 10px" />
      <p>{{ weatherData.weather[0].description }}</p>
      }
    </div>
  </div>
</div>
