<div class="col">
  <div class="card h-100">
    <div class="card-header text-center"><strong>Feriados</strong></div>
    <div class="card-body text-center">
      @if (feriadoMasCercano) {
        <p>{{ feriadoMasCercano.title }}</p>
        <p>{{ feriadoMasCercano.date }}</p>
      }
    </div>
  </div>
</div>
