

<ion-content >
  <div id="container" class="ion-padding">
    <div class="register-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">


        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" class="form-control" />

        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" formControlName="password" type="password" class="form-control" />

        </div>
        <br>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
        <a routerLink="/register" >Ir a registrarser</a>
        </div>
      </form>
    </div>
  </div>

</ion-content>

